*.iml
.ipynb_checkpoints/*
.ipynb_checkpoints/*
.idea/*
logs/*
data/sentinel2/*
data/farm_locations/all_farms_27_03_22.geojson
data/farm_locations/*.geojson
data/farm_locations/all_farms_27_03_22.kml
data/farm_locations/individual_farm_bounds.cpg
data/farm_locations/individual_farm_bounds.dbf
data/farm_locations/individual_farm_bounds.prj
data/farm_locations/individual_farm_bounds.shp
data/farm_locations/individual_farm_bounds.shx
data/farm_locations/total_bounds.cpg
data/farm_locations/total_bounds.dbf
data/farm_locations/total_bounds.prj
data/farm_locations/total_bounds.shp
data/farm_locations/total_bounds.shx